        body {
            border-color:#e5e7eb;
            background-color: #0f172a;
            padding:0 16px
        }


  
        .hero-content h1{
            color:#E2E8F0;
            font-family: "HK Grotesk",sans-serif;
            font-size: 60px;
            font-weight: 800;
            margin: 0 0 24px;
            text-align: center;

        }
        .hero-content p{
            color:#64748B;
            font-family: "Inter",sans-serif;
            font-size: 20px;
            text-align: center;
            margin: 0 0 40px;
        }

       .hero-buttons {
            display: flex;
            justify-content:center;
            gap: 1rem; /* optional spacing between buttons */
         
            }

        .get-started {
        color:#ffff;
        padding:12px 24px;
        background-color: #6366F1;
        }

        .read-docs{
            padding:12px 24px;
            color:#CBD5E1;
            background-color: #334155;

        }
        .hero-buttons a .arrow {
        margin-left: 4px;
        }

        .hero-img{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
       .reviews{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:1em;

       }